.cost-item {
	background-color: var(--color-orange);

	display: grid;
	grid-template-columns: min-content 1fr min-content;
	align-items: stretch;
	gap: 1rem;

	@media (max-width: 30rem) {
		grid-template-columns:  1fr;
	}
}
