.layout-default {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;

  footer,
  main {
    padding: 1rem;
  }

  main {
    border-bottom: 1px solid var(--color-grey-light);
    border-top: 1px solid var(--color-grey-light);
    overflow-y: auto;
  }

  header {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;

    & a {
      text-decoration: none;
      color: var(--color-blue);

      padding: 0.65rem;
      &.active {
        color: var(--color-orange);
      }

      &:hover {
        background-color: var(--color-grey-light);
      }
    }

    & hr {
      height: 100%;
      margin: 0;
    }
  }
}
